@import "tailwindcss";

* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  /* background: linear-gradient(to bottom right, #0f172a, #581c87, #0f172a); */
  /* color: white; */
  background: #eef4ff;
}

.app-gradient {
  background: linear-gradient(180deg,rgb(153, 201, 240) 0%, hsl(0, 0%, 100%) 41%)
}

#root {
  min-height: 100vh;
}